body {
    background-color: black;
    color: white;
    font-family: Arial;
}
.title {
    font-size: 28px;
    font-weight: 700;
}
.move-button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 60px;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 34px;
    cursor: pointer;
}
.move-icon {
    height: 50px;
}

.result {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 34px;
}
.moves {
    margin-bottom: 45px;
}
.reset-button,
.auto-play-button {
    background-color: white;
    padding: 8px 12px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
